# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
wordcount/wordcount

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
wordcount/map/
wordcount/reduce/
wordcount/result/

# Go workspace file
go.work
go.work.sum

# env file
.env
